@use "../../../styleHelpers/mixin.scss" as mixin;
@use "../../../styleHelpers/variables.scss" as globalVar;

.bigCard {
  @include mixin.flexCenter(column, normal);
  width: globalVar.$cardWidth;
  min-height: 450px;
  position: relative; /*Gör att barn kan använda positioneringssystem */
}
