@use "../../../styleHelpers/mixin.scss" as mixin;
@use "../../../styleHelpers/variables.scss" as globalVar;

.title {
  position: relative;
  z-index: 2; /* Lägg texten ovanför overlay */
  @include mixin.textStyle(
    inherit,
    globalVar.$stroke,
    clamp(1rem, 3.8vw, 2rem),
    normal
  );

  #titleSpanElementWithColonSplit {
    display: block;
    @include mixin.textStyle(
      globalVar.$highlightColor,
      globalVar.$thickStroke,
      clamp(0.85rem, 3vw, 1.5rem),
      normal,
      italic,
      clamp(0.15rem, 0.4vw, 1rem) 0 clamp(0.15rem, 0.4vw, 1rem) 15px
    );
  }
}
