@use ".././../styleHelpers/mixin.scss" as mixin;
@use "../../variables.scss" as globalVar;

#categoryDropdown {
  @include mixin.searchBar(
    $width: auto,
    $height: globalVar.$searchBarHeight,
    $padding-left: 0
  );
  border-right: globalVar.$small solid #757575;
  padding: 0.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  border-top-left-radius: globalVar.$searchBarInnerRadius;
  border-bottom-left-radius: globalVar.$searchBarInnerRadius;

  option {
    background-color: #333;
    color: hsl(0, 0%, 85%);
    font-size: 1.3rem;
  }
}

#categoryDropdown:focus {
  outline: none;
}

#categoryDropdown:hover {
  background-color: hsl(0, 0%, 85%);
  cursor: pointer;
}
