#categoryDropdown {
  padding: 0.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  min-width: 50px;
  height: 30px;
  font-size: 1rem;
}
