@use ".././../styleHelpers/mixin.scss" as mixin;
@use "../../variables.scss" as globalVar;

.buttonSearch {
  @include mixin.searchBar(
    $height: globalVar.$searchBarHeight,
    $width: auto,
    $padding-left: 0
  );

  cursor: pointer;
  border-top-right-radius: globalVar.$searchBarInnerRadius;
  border-bottom-right-radius: globalVar.$searchBarInnerRadius;
}
