@use "../utils/mixin.scss" as mixin;
@use "../utils/variables.scss" as globalVar;

.searchInput {
  @include mixin.searchBar(
    $width: 45vw,
    $height: globalVar.$searchBarHeight,
    $padding-left: 0.5vw
  );
  box-sizing: border-box;
}

.searchInput:focus {
  outline: none;
}
