@use ".././../styleHelpers/mixin.scss" as mixin;
@use "../../styleHelpers/variables.scss" as globalVar;

.searchInput {
  @include mixin.searchBar(
    $width: 45vw,
    $height: globalVar.$searchBarHeight,
    $padding-left: 0.5vw
  );
}

.searchInput:focus {
  outline: none;
}
