@use "./components/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: darkolivegreen;
}

.searchBarContainer {
  height: 60px;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  #searchBar {
    border: 3px solid #497549;
    border-radius: 5px;
    display: inline-flex;
    align-items: flex-end;

    .dropdownContainer {
      align-items: flex-end;
      /* SearchBar/Dropdown.scss */
    }
    /* .inputContainer {
      /*  SearchBar/TextInput.scss
    } 

    /* searchBar/SearchButton */
  }
}
