@use "./components/SearchBar/index/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: darkolivegreen;
}
.miniCard {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  img {
    width: 100%; /* Bilden anpassar sig till kortet */
    max-width: 150px;
    height: auto;
    border-radius: 5px;
  }
  h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
}
