@use "./components/SearchBar/index/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: darkolivegreen;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.viewContainer {
  border-radius: 20px;
  align-self: center;
  background-color: floralwhite;
  /* margin: 2rem 0 0 9rem; */
  display: grid;
  width: 620px;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 1rem; */

  .miniCard {
    appearance: none;
    max-width: 311px;
    display: flex;
    /* height: 1px; */
    /* border: 1px solid #ddd; */
    border: none;
    border-bottom: 2px solid black;
    /* border-radius: 5px; */
    border-radius: 0;
    padding: 10px;
    /* background-color: white; */
    background-color: inherit;
    cursor: pointer;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    img {
      width: 100%; /* Bilden anpassar sig till kortet */
      /* width: 2px; */
      max-width: 80px;
      /* min-width: 50px */
      height: auto;
      border-radius: 5px;
    }
    .movieInfoDiv {
      display: flex;
      padding-left: 10px;
      align-items: flex-start;
      flex-direction: column;
      align-self: end;

      h3 {
        font-size: 1rem;
        text-align: center;
      }

      .movieInfoUl {
        list-style-type: none;
        .year {
          color: hsl(441 11% 42%);
          font-weight: bold;
        }
        .type {
          font-style: italic;
        }
      }
    }
  }
}

.miniCard:hover {
  background-color: hsl(123 54% 85% / 1);
}

.backArrowContainer {
  padding: 2rem 0 0 2rem;
  align-self: flex-start;
  .backArrow {
    fill: black;
  }
}

@media (max-width: 522px) {
  .viewContainer {
    width: 310px;
    grid-template-columns: repeat(1, 1fr);
  }
}
